<section class="contact">
  <div class="contact-inner">
    <h2>{{settings.contact_footer_title}}</h2>
    <div><i class="fas fa-envelope"></i> <a href="/hc/requests/new">{{settings.submit_a_request_text}}</a></div>
    <div><i class="fas fa-phone"></i> <a href="tel:{{settings.contact_number_value}}">{{settings.contact_number_text}}</a></div>
  </div>
</section>
<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
