<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h1 class="center">{{settings.help_center_categories_title}}</h1>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h4 class="blocks-item-title">{{name}}</h4>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h4 class="blocks-item-title">
                    {{name}}
                  </h4>
                  <p class="blocks-item-description">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}

        <li class="blocks-item">
          <a href='/hc/en-au/requests' class="blocks-item-link">
            <h4 class="blocks-item-title">
              My Activities
            </h4>
          </a>
        </li>
      </ul>
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h1 class="center">{{settings.promoted_articles_title}}</h1>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item {{id}}">
              <a href="{{url}}">
                {{title}}
              </a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
