<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h1 class="center">{{settings.help_center_categories_title}}</h1>
    <section class="categories blocks">
      <ul class="blocks-list">
        <li class="blocks-item">
          <a href='/hc/en-us/requests/new?ticket_form_id=360000038695' class="blocks-item-link">
            <h4 class="blocks-item-title">
              Publishing
            </h4>
          </a>
        </li>
        <li class="blocks-item">
          <a href='/hc/en-us/requests/new?ticket_form_id=360000037776' class="blocks-item-link">
            <h4 class="blocks-item-title">
              Photography Services
            </h4>
          </a>
        </li>
        <li class="blocks-item">
          <a href='/hc/en-us/requests/new?ticket_form_id=360000038675' class="blocks-item-link">
            <h4 class="blocks-item-title">
              Pre Press
            </h4>
          </a>
        </li>
        <li class="blocks-item">
          <a href='/hc/en-au/requests' class="blocks-item-link">
            <h4 class="blocks-item-title">
              My Activities
            </h4>
          </a>
        </li>
      </ul>
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h1 class="center">{{settings.promoted_articles_title}}</h1>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item {{id}}">
              <a href="{{url}}">
                {{title}}
              </a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
